
nav div{
  height: 400px;
}
nav div ul a{
    font-size: 20px;}
h1{
  text-align: center;
  text-transform: uppercase;
}
.logo{
  width:100px;

}
.margin-top{
  margin-top: 30px;
}
.magin-left{
  margin-left: 30px;

}
.bold{
  font-weight: bold;
}
.margin{
  background-color: grey;
  margin-top: 200px;
}
.title{
  color:white;
  margin-bottom:200px;
}
.background{
  background: url("../../assets/morgan1.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 80%;
  
  padding: 1px;
}
.buttons{
  padding: 50px;
}
